<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css?v=3.4.2" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/js/site.js?v=1.1"></script>
    <title>Предварительная запись в службу "Одно окно"</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css?v=3.4.3" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css?v=3.4.3" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>




</head>
<body style=" max-width: 1200px;" >
    @RenderSection("Scripts", required: false)
    <div class="container-body">
        @*<div style="width:inherit;min-width: 800px;">*@
        <div>
           
            <div style="background-color:#e7e7e7; vertical-align:middle;    ">
                @*<div class="btn-menu">btn menu</div>*@
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/sm_full.gif" /></a>
                <div class="head-row" style="">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p id="userName">@User.Identity.Name</p>
                    }
                    else
                    {
                        <div>

                            <a asp-controller="Account" asp-action="Login" class="loginButton newButton">Вход</a>
                            <a asp-controller="Account" asp-action="Registration" class="newButton registrationButton">Регистрация</a>
                        </div>
                    }
                </div>


            </div>

        </div>
        <div style=" " id="userMenu">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("superuser"))
                {
                    <div class="userMenuRow">
                        <a asp-controller="Cupon" asp-action="setCuponInterval" class="userMenuButton">Добавить талоны</a>
                    </div>
                    <div class="userMenuRow">
                        <a asp-controller="Cupon" asp-action="RemoveCupons" class="userMenuButton">Удалить талоны</a>
                    </div>
                    <div class="userMenuRow">
                        <a asp-controller="Cupon" asp-action="viewRegisterCupons" class="userMenuButton">Зарегестрированные талоны</a>
                    </div>
                    <div class="userMenuRow">
                        <a asp-controller="Cupon" asp-action="MyCupons" class="userMenuButton">Мои талоны</a>
                    </div>

                }
                if (User.IsInRole("admin"))
                {
                    <div class="userMenuRow">
                        <a asp-controller="Cupon" asp-action="setCuponInterval" class="userMenuButton">Добавить талоны</a>
                    </div>
                    <div class="userMenuRow">
                        <a asp-controller="Cupon" asp-action="RemoveCupons" class="userMenuButton">Удалить талоны</a>
                    </div>
                    <div class="userMenuRow">
                        <a asp-controller="Admin" asp-action="Index" class="userMenuButton">Администрирование</a>
                    </div>
                    <div class="userMenuRow">
                        <a asp-controller="Cupon" asp-action="MyCupons" class="userMenuButton">Мои талоны</a>
                    </div>

                }
                if (User.IsInRole("user"))
                {
                    <div class="userMenuRow">
                        <a asp-controller="Cupon" asp-action="MyCupons" class="userMenuButton">Мои талоны</a>
                    </div>

                }
            }

            <div class="userMenuRow">
                <a asp-controller="Account" asp-action="Settings" class="userMenuButton">Настройки</a>
            </div>

            <div class="userMenuRow">
                <a asp-controller="Account" asp-action="LogOff" class="userMenuButton">Выход</a>
            </div>
        </div>
        <div>
            @*<div style="min-width: 1200px;">*@
                <div id="modDialog" class="modal">
                    <div id="dialogContent" style="z-index:999999;" class="modal-dialog"></div>
                </div>

                <div style="text-align:center">
                    @RenderBody()
                </div>
                <hr />
                <div>
                    @*<footer>
                    <p>&copy; 2018 - КУП Минское городское агентсво обслуживания населения</p>
                </footer>*@
                </div>
            </div>



            <script type="text/javascript">
                var userMenuIsHide = true;

                $(document).mouseup(function (e) { // событие клика по веб-документу
                    var div = $("#userMenu"); // тут указываем ID элемента
                    if (!div.is(e.target) // если клик был не по нашему блоку
                        && div.has(e.target).length === 0) { // и не по его дочерним элементам
                        div.hide(); // скрываем его
                    }
                });

                $(document).ready(function () {
                    userMenuIsHide = true;
                    $("#userMenu").hide();
                });
                $("#userName").click(function () {
                    if (userMenuIsHide == true) {
                        $("#userMenu").show();
                        userMenuIsHide = false;
                    }
                    else {
                        $("#userMenu").hide();
                        userMenuIsHide = true;

                    }
                })
                $(function () {
                    $.ajaxSetup({ cache: false });
                    $(".loginButton").click(function (e) {

                        e.preventDefault();
                        $.get(this.href, function (data) {
                            $('#dialogContent').html(data);
                            $('#modDialog').modal('show');
                        });
                    });
                })
            </script>
        </div>

</body>
</html>
