@model pre_registration.Models.ViewModels.SetCuponIntervalViewModel
<h2 class="titleHeadRow">Добавление новых талонов для записи</h2>
<div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <form method="post" asp-controller="Cupon" asp-action="setCuponInterval" class="contentForm">

        @if (User.IsInRole("admin"))
        {
            <div class="contentDiv">
                <label asp-for="AreaId"></label><br />
                <select asp-for="AreaId" asp-items='new SelectList(ViewBag.Areas, "Id", "Name")' class="selectList"></select>
            </div>
        }
        <div>
            <label asp-for="beginDate"></label><br />
            <input type="date" asp-for="beginDate" />
        </div>
        <div>
            <label asp-for="endDate"></label><br />
            <input type="date" asp-for="endDate" />
        </div>

        <div>
            <label asp-for="interval"></label><br />
            <input type="text" asp-for="interval" onkeyup="return proverka(this);" />
        </div>
        <div class="contentDiv">
            пн<input type="checkbox" asp-for="daysOfWeek[1]" />
            вт <input type="checkbox" asp-for="daysOfWeek[2]" />
            ср<input type="checkbox" asp-for="daysOfWeek[3]" />
            чт <input type="checkbox" asp-for="daysOfWeek[4]" />
            пт <input type="checkbox" asp-for="daysOfWeek[5]" />
            сб <input type="checkbox" asp-for="daysOfWeek[6]" />
            вс <input type="checkbox" asp-for="daysOfWeek[0]" />

        </div>
        <div class="contentDiv">
            <label asp-for="beginTimeHours"></label>
            <select asp-for="beginTimeHours" asp-items='new SelectList(ViewBag.Hours)'></select>
            :
            <select asp-for="beginTimeMins" asp-items='new SelectList(ViewBag.Mins)'></select>
            <label asp-for="beginTimeMins"></label>
        </div>
        <div class="contentDiv">
            <label asp-for="endTimeHours"></label>
            <select asp-for="endTimeHours" asp-items='new SelectList(ViewBag.Hours)'></select>
            :

            <select asp-for="endTimeMins" asp-items='new SelectList(ViewBag.Mins)'></select>
            <label asp-for="endTimeMins"></label>
        </div>
        <input type="submit" />

    </form>
</div>

<script type="text/javascript">
    function proverka(input) {
        var value = input.value;
        var rep = /[-\./,/|~;@@!#$%_+=^&**()<>":'a-zA-Zа-яА-Я]/;
        if (rep.test(value)) {
            value = value.replace(rep, '');
            input.value = value;
        }
    }
</script> 