@model List<pre_registration.Models.CuponDate>
<div>
    @*<h2>Выберите дату</h2>*@
    <style type="text/css">
        td a {
            width: 100%;
            height: 100%;
            display: block;
            padding: 5px;
        }
    </style>
    <script>
        function showTimeLink()
        {
            $('.selectTime').show();
            $('.selectDate').hide();

        }
          
        $(document).ready(setCheckOutBar());
        @*$(document).ready(function () {
            $('.selectArea').load('@Url.Action("selectAreaForm", "Home")');
        });*@
    </script>
    <div>
        <br />
        @*<a class="backToSelectArea">Вернуться к выбору района</a>*@
        @{
            DateTime currentDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
            while (true)
            {
                if (currentDate.DayOfWeek != DayOfWeek.Monday)
                {
                    currentDate = currentDate.AddDays(-1);
                }
                else
                {
                    break;
                }
            }
        }
        <table border="1" class="table-calendar">
            @for (int i = 0; i < 5; i++)
            {
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {


                        <td style="width:100px; height:100px;" class="tdItem">
                            @{
                                int freeCupons = 0;
                                foreach (var item in Model)
                                {
                                    if (currentDate.Date == item.date.Date)//&& item.date.TimeOfDay > DateTime.Now.TimeOfDay)
                                    {
                                        if (DateTime.Now.Date == currentDate.Date && item.date.TimeOfDay < DateTime.Now.TimeOfDay)
                                        {
                                            continue;

                                        }

                                        freeCupons++;
                                    }

                                }
                            }
                            @if (currentDate < DateTime.Now.AddDays(-1) || freeCupons == 0)
                            {
                                <div style="text-align:center;">
                                    @currentDate.ToString("dd.MM")
                                </div>
                            }
                            else
                            {
                                <div onclick="$('.selectTime').load('@Url.Action("viewTime", "Cupon", new { selectedDay = currentDate, areaId = ViewBag.SelectedArea})'); showTimeLink()">
                                    <div style="text-align:center;">
                                        @currentDate.ToString("dd.MM")
                                    </div>
                                    <div>
                                        Свободных мест
                                        @freeCupons
                                    </div>
                                </div>


                            }

                        </td>



                        currentDate = currentDate.AddDays(1);
                    }

                </tr>
            }

        </table>
    </div>
</div>