@model pre_registration.Models.ChangeUserPasswordModel
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Изменить пароль для @Model.userName</h4>
    </div>
    <div class="modal-body">
        <form method="post" asp-controller="Admin" asp-action="ChangeUserPassword">
            <div>
                <label asp-for="newPassword"></label>
                <input asp-for="newPassword" />
                <span asp-validation-for="newPassword"></span>
            </div>
            <div>
                <label asp-for="confirmNewPassword"></label>
                <input asp-for="confirmNewPassword" />
                <span asp-validation-for="confirmNewPassword"></span>
            </div>
            <div>
                <input type="submit" value="Изменить" />
            </div>
        </form>
    </div>
</div>
