<h2 class="titleHeadRow">Запись на прием в службу "Одно окно"</h2>
<div class="checkout-wrap">
    <ul class="checkout-bar">
        <li  class="visited first">Выбор района</li>

        <li class="visited">Выбор даты</li>

        <li  class="visited">Выбор времени</li>

        <li  class="visited">Запись</li>

        <li class="active">Готово</li>

    </ul>
</div>
<br />
<br /><br />
<div class="titleHeadRow">


    <h2>Благодарим за запись</h2>
    <div>На указанный вами адрес электронной почты будет выслано сообщение в котором указаны время и дата записи</div>
    <div>
        Так же в сообщении будет содержаться инструкция для отмены записи.
        Убедительная просьба, если у Вас не получится придти отменить запись
    </div>

</div>
<script>

</script>