<h2 class="titleHeadRow">Запись на прием в службу "Одно окно"</h2>
<div class="checkout-wrap">
    <ul class="checkout-bar">
        <li class="visited first">Выбор района</li>

        <li class="visited">Выбор даты</li>

        <li class="visited">Выбор времени</li>

        <li class="visited">Запись</li>

        <li class="active">Готово</li>

    </ul>
</div>

<div class="titleHeadRow">


    <h2>Спасибо, что воспользовались нашей услугой</h2>
    <div>На указанный вами адрес электронной почты будет выслано сообщение с временем и датой записи.</div>
    <div>
        Также в сообщении будет содержаться порядок отмены записи на прием.
        <b>Если Вы не можете</b> прийти в забронированное время, то, пожалуйста, <b>аннулируйте</b> бронирование.
    </div>

</div>
<script>

</script>