@model pre_registration.Models.Area
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <iframe src='@Model.MapUrl' width='560' height='400' frameborder='1' allowfullscreen='true'></iframe>
    </div>
</div>