@section scripts
    {
    <script type="text/javascript">
        var dateOptions = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            weekday: 'long',
            timezone: 'UTC',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric'
        };

        var currentArea;
        $(document).ready(function () {
            $('.selectArea').load('@Url.Action("selectAreaForm", "Home")');
        });
        $(document).ready(setCheckOutBar());
        
        function GetArea() {
            var result;
            $.ajax({   
                async: false,
                url: '/home/getSessionArea',
                type: 'GET',
                contentType: "application/json",
                success: function (area) {
                    result = area;
                }
            });
            return result;
        }
        function GetSelectedDate() {
            var result;
            $.ajax({
                async: false,
                url: '/home/getSelectedDate',
                type: 'GET',
                contentType: "application/json",
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }
        function getSelectedCupon() {
            var result;
            $.ajax({
                async: false,
                url: '/home/GetSelectedCupon',
                type: 'GET',
                contentType: "application/json",
                success: function (data) {
                    result = data;
                }
            });
            return result;

        }
        function setCheckOutBar()
        {
            var selectedArea = GetArea();
            var selectedDate = GetSelectedDate();
            var selectedCupon = getSelectedCupon();
            if (selectedCupon.id != 0)
            {
                var date = new Date(selectedCupon.date);
                $("#firstPunkt").text(selectedArea.name)
                $("#secondPunkt").text(date.toLocaleDateString());
                $("#thirdPunkt").text(date.getHours() + ':' + (date.getMinutes() == 0 ? '00' : date.getMinutes()));
                $("#forthPunkt").addClass('active');
                $("#thirdPunkt").addClass('visited');
                $("#secondPunkt").addClass('visited');
                $("#firstPunkt").addClass('visited');
                return;
            }
            if (selectedDate != undefined && selectedDate.length > 2)
            {
                var date = new Date(selectedDate);
                $("#firstPunkt").text(selectedArea.name)
                $("#secondPunkt").text(selectedDate);
                $("#thirdPunkt").text('Выбор времени');
                $("#forthPunkt").removeClass();
                $("#thirdPunkt").removeClass();

                $("#thirdPunkt").addClass('active');
                $("#secondPunkt").addClass('visited');
                $("#firstPunkt").addClass('visited');
                return;

            }
            if (selectedArea.id != 0)
            {

                $("#firstPunkt").text(selectedArea.name)
                $("#thirdPunkt").removeClass();
                $("#secondPunkt").removeClass();
                $("#secondPunkt").text('Выбор даты');
                $("#secondPunkt").addClass('active');
                $("#firstPunkt").addClass('visited');
                return;

            }
            if (selectedArea.id == 0)
            {
                $("#firstPunkt").text('Выбор района');
                $("#secondPunkt").removeClass();
                $("#firstPunkt").removeClass();
                $("#firstPunkt").addClass('active');
                $("#firstPunkt").addClass('first');
            }
        }
    </script>
}

    <div>

        <h2>Запись на прием в службу "Одно окно"</h2>
        <div class="checkout-wrap">
            <ul class="checkout-bar">
                <li id="firstPunkt" class="active first">
                    <a href="#">Выбор района</a>
                </li>

                <li id="secondPunkt" class="next ">Выбор даты</li>

                <li id="thirdPunkt" class="next">Выбор времени</li>

                <li id="forthPunkt">Запись</li>

                <li id="lastPunkt">Готово</li>

            </ul>
        </div>
        <br />
        <br /><br />
              <div>
                  <div class="areaInfo" style="float:left; width:30%;"></div>
                  <div class="selectArea">
                  </div>

                  <div class="selectDate" style="float:right; width:70%;" hidden>
                  </div>
                      <div class="calendar"  style="float:right; width:70%;">
                      </div>
                  
                  <div class="selectTime" style="float:right; width:70%;">

                  </div>

                  <div class="recordForm" style="float:right; width:70%;"></div>
              </div>
    </div>

<script>
   
</script>