@model pre_registration.Models.Area

<div>
    <h2>@Model.Name</h2>
    <h4><a asp-controller="Home" asp-action="GetMap" asp-route-areaId="@Model.Id" class="showMap">@Model.Adres</a></h4>
    <div>
        <p>Время работы</p>
        <table>
            <tr>
                <td><b>ПН-ПТ</b></td>
                <td><b>08:00 - 20:00</b></td>
            </tr>
            <tr>
                <td>СБ</td>
                <td>08:00 - 17:00</td>
            </tr>
        </table>
        @{
            string[] phones = Model.Phone.Split(", ");
            foreach (var item in phones)
            {
                <br />@item
            }
        }
    </div>
</div>


<script>
    function showCalendar(id)
        {
        $(".areaInfo").hide();
            $(".selectDate").show();
            $('.selectDate').load('@Url.Action("viewCalendar", "Cupon")?areaId=' + id)
    }

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".showMap").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>
