@model pre_registration.Models.ViewModels.ChangePasswordModel
 <h2>Изменить пароль</h2>
<div class="validation" asp-validation-summary="ModelOnly"></div>
<div>
    <form method="post" asp-controller="Account" asp-action="ChangePassword">
        <div>
            <label asp-for="oldPassword"></label><br />
            <input asp-for="oldPassword" />
            <span asp-validation-for="oldPassword"></span>
        </div>
        <div>
            <label asp-for="newPassword"></label><br />
            <input asp-for="newPassword" />
            <span asp-validation-for="newPassword"></span>
        </div>
        <div>
            <label asp-for="confirmPassword"></label><br />
            <input asp-for="confirmPassword" />
            <span asp-validation-for="confirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="Изменить" />
        </div>
    </form>
</div>
