@model pre_registration.Models.ViewModels.ResetPasswordViewModel

<h2>Изменить пароль</h2>
<div class="validation" asp-validation-summary="ModelOnly"></div>
<div>
    <form method="post" asp-controller="Account" asp-action="ChangeResetPassword">
      
        <div>
            <label asp-for="NewPassword"></label><br />
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div>
            <label asp-for="ConfirmNewPassword"></label><br />
            <input asp-for="ConfirmNewPassword" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <input asp-for="ResetPassword.id" type="hidden"  />
        <div>
            <input type="submit" value="Изменить" />
        </div>
    </form>
</div>