
@{
    ViewData["Title"] = "ChangePasswordNotification";
}

<h2 class="titleHeadRow">Восстановить пароль</h2>
<h3 class="titleHeadRow">На указанный вами e-mail выслано сообщение с дальнейшими инструкциями по восстановлению пароля</h3>
