
@{
    ViewData["Title"] = "ChangePasswordNotification";
}

<h2>ChangePasswordNotification</h2>
<h3>На указанный вами e-mail выслано сообщение с дальнейшими инструкциями по восстановлению пароля</h3>
