@model pre_registration.Models.LoginViewModel
<div class="modal-content" style="text-align:center;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button><h3>Авторизация</h3>
    </div>
    
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Login"></label><br />
            <input asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
        <div> <a href="@Url.Action("ResetPassword", "Account")">Забыли пароль?</a>  </div>
    </form>
    <br />
</div>

