@model pre_registration.Models.ViewModels.AddUserViewModel
<script src="~/lib/jquery/dist/jquery.maskedinput.min.js"></script>
<script>
    $(function () {
        $("#Phone").mask("+375 (99) 999-99-99");
    });
    $(document).ready(function () {
        $(".g-recaptcha").show();

    });
    </script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
<h2>Регистрация нового пользователя</h2>
<div class="validation" asp-validation-summary="ModelOnly"></div>
<form method="post" asp-controller="Account" asp-action="Registration">

    <div>
        <label asp-for="Login"></label><br />
        <input asp-for="Login" />
    </div>
    <div>
        <label asp-for="LastName"></label><br />
        <input asp-for="LastName" />
    </div>
    <div>
        <label asp-for="FirstName"></label><br />
        <input asp-for="FirstName" />
    </div>

    <div>
        <label asp-for="SecondName"></label><br />
        <input asp-for="SecondName" />
    </div>
    <div>
        <label asp-for="Phone"></label><br />
        <input asp-for="Phone" />
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
    </div>
    <div>
        <div style="display:table;margin:0 auto;" class="g-recaptcha" data-sitekey="6LcdnGIUAAAAAOSv914w9CcbgrV41KTNeUGUxi9-"></div>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>

