@model pre_registration.Models.ViewModels.ResetPasswordViewModel
<h2 class="titleHeadRow">Восстановить пароль</h2>
<form method="post" asp-controller="Account" asp-action="ResetPassword" class="contentForm">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Query"></label><br />
        <input asp-for="Query" />
        <span asp-validation-for="Query"></span>
    </div>
    
    <div>
        <input type="submit" value="Отправить" />
    </div>
   
</form>

<script>
    $('.contentForm').submit(function () {
            var errorCount = 0;
        if ($("#Query").val().length < 1) {
            $("#Query").css("border-color", "red");
            $("#Query").css("border-width", "2px");
                errorCount++;
            }
           
            if (errorCount != 0) {
                return false;

            }


        });
</script>