@model pre_registration.Models.ViewModels.ResetPasswordViewModel
<h2>Восстановить пароль</h2>
<form method="post" asp-controller="Account" asp-action="ResetPassword">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Query"></label><br />
        <input asp-for="Query" />
        <span asp-validation-for="Query"></span>
    </div>
    
    <div>
        <input type="submit" value="Отправить" />
    </div>
   
</form>